
/* ######################################   BODY  ######################################### */

body {	 
	/* padding-top: 90px; lo activo si uso <nav class="fixed-top"> en el header */
	/* padding-bottom: 0px; */
	background:     #efefef;	
}

/* ######################################   CONTENEDOR  ################################### */

.container-main{
	width:  100%;
	margin: auto;
}

/* ######################################   HEADER   ###################################### */

header nav{
	padding-left:  50px;
	padding-right: 50px;
}
header li:hover{
	background: #444;	

}
header nav a{
	display: inline-block;
}
header nav img{
	height:     100%;
	width:      auto;
}

/* ######################################   SECTION   ###################################### */

/* Estilos de sección principal */
section{
	width:  100%;	
	min-height: 695px;
	margin: auto;
	
}

/* Estilos de las vistas list */
.container-list{ 
	width: 90%;	
	margin: auto;
}

/* Estilos de las vistas de formularios */
.container-form{ 
	padding-top:   10px;
	padding-left:  20%;
	padding-right: 20%;
}

/* Estilos de elementos en las vistas de la app */
.inline{
	display: inline-block;
}

/* Estilo de input text */
.input-text{
	border: 1px solid #cccccc;
	font-size:      16px;
	padding-top:    6px;
	padding-bottom: 6px;
	background:     #FFFFFF;
	border-radius:         6px;
	-moz-border-radius:    6px;
	-webkit-border-radius: 6px;
	-o-border-radius:      6px;
	
  }

/* Estilos de botones */
.button1{
    color: #FFFFFF;
    background-color: #262626;
}
.button1:hover{
    color: #FFFFFF;
    background-color: #000000;	

}
/* Estilos del boton registrar */
.button2{
    text-decoration: none;
    padding: 5px 50px 5px 50px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #262626;
    border-radius: 5px;
    border: 1px solid #000000; 
}
.button2:hover{
	text-decoration: none;
    color: #FFFFFF;
    background-color: #000000;
}
/* Deshabilitar estilos */
.none{
	list-style: none;
	text-decoration: none;
}


/* ######################################   ASIDE   ###################################### */

/*
.sidebar{	 
	width:      185px;
	height:     1400px;
	background: #333;
	color:      #FFF;
	outline: 1px solid #2a2a2a;
}

.menu{
	text-align: center;
	margin:  0px;
	padding: 10px;
	background: #2a2a2a;
	outline: 1px solid #2a2a2a;
}
.menu-text{
	display: inline-block;
}
.menu-icon{
	display: inline-block;
}
.sidebar ul{
	list-style: none;
	padding: 0;
}
.sidebar li{
	outline: 1px solid #2a2a2a;
	transition: all 0.3s;
}
.sidebar li:hover{
	background: #444;
	border-left: 2px solid #eee;
}
.sidebar a{
	display: block;
	color:   #FFF;
	text-decoration: none;
	margin:  0px;
	padding: 10px;
}
*/

/* #####################################    FOOTER   ######################################## */

footer{   
	margin-top: 50px;
    width: 100%; 
    text-align: center;
    background: #262626;  
    box-sizing: border-box;    
}
footer p{
	padding-top: 30px;
	padding-bottom: 30px;
	color: #efefef;
}

/*
@media screen and (max-width: 700px){

	body{
		-webkit-text-size-adjust: auto;
		-moz-text-size-adjust:    auto; 
		-ms-text-size-adjust:     auto;
	}
	footer{   
	    width: 100%;
	    height: auto;   
	    text-align: center;
	    background: #262626;   
	    font-size: 1em; 
	}
	footer p{		
		color: #efefef;
		
	}
}
*/


/*

.izquierda{
	display: table-cell;
	
}
.derecha{
	display: table-cell;
	padding-top:  5px;
	padding-left: 5px;
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
    -webkit-overflow-scrolling: touch;
}

.navbar-brand
{
    position:absolute;
    width:100%;
    left:0;
    text-align:center;
    margin:auto;
}


// justifica todos los elementos a la derecha y en línea 
.content-right{
	display: inline-flex; // elemento en línea y flexible a cambios de tamaño pantalla
	justify-content: right;
}


*/

